$primaryColor: #F4F4F4;
$secondaryColor: #333333;
$primaryContentFontColor: #222222;
$primaryTitleFontColor: #151515;
$secondaryContentFontColor: #e5e5e5;
$secondaryTitleFontColor: #fff;
$textLinks: 500 14px/18px 'Inter', Helvetica, Arial, sans-serif;
$titleOfSectionDescktop: 700 55px/60px 'Inter', Helvetica, Arial, sans-serif;
$textContentDescktop: 500 18px/28px 'Inter', Helvetica, Arial, sans-serif;
$textCards: 600 18px/22px 'Inter', Helvetica, Arial, sans-serif;
$textCardsButtons: 600 18px/28px 'Inter', Helvetica, Arial, sans-serif;



