.slider__button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.slider__button-prev img {
  width: 10px;
  height: 18px;
}

.slider__button-prev:hover {
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  .slider__button-prev {
    height: 24px;
    width: 24px;
    background-size: 7px 16px;
  }
};