.bycicles__road {
  font: $textCardsButtons;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $primaryContentFontColor;
  opacity: 70%;
}

.bycicles__road:hover {
  opacity: 100%;
}
