@import 'https://unpkg.com/swiper@7/swiper-bundle.min.css';
@import '../vendor/styles/normalize.css';
@import '../vendor/fonts/fonts.css';
@import '../modules/blocks/header/__nav/header__nav.css';
@import '../modules/blocks/lead/lead.css';
@import '../modules/blocks/lead/__title/lead__title.css';
@import '../modules/blocks/lead/__content/lead__content.css';
@import '../modules/blocks/lead/__button/lead__button.css';
@import '../modules/blocks/lead/__link/lead__link.css';
@import '../modules/blocks/lead/__link/_them/lead__link_them_dark.css';
@import '../modules/blocks/lead/__picture-container/lead__picture-container.css';
@import '../modules/blocks/lead/__picture/lead__picture.css';
@import '../modules/blocks/lead/__fade-in/lead__fade-in.css';
@import '../modules/blocks/lead/__fade-in-container/lead__fade-in-container.css';
@import '../modules/blocks/quote/quote.css';
@import '../modules/blocks/quote/__picture/quote__picture.css';
@import '../modules/blocks/quote/__title/quote__title.css';
@import '../modules/blocks/quote/__title/_them/quote__title_them_dark.css';
@import '../modules/blocks/quote/__author-name/quote__author-name.css';
@import '../modules/blocks/quote/__author-name/_them/quote__author-name_them_dark.css';
@import '../modules/blocks/quote/__author-about/quote__author-about.css';
@import '../modules/blocks/quote/__author-about/_them/quote__author-about_them_dark.css';
@import '../modules/blocks/flex-content/flex-content.css';
@import '../modules/blocks/flex-image/flex-image.css';
@import '../modules/blocks/gallary/gallary.css';
@import '../modules/blocks/gallary/__title/gallary__title.css';
@import '../modules/blocks/gallary/__content/gallary__content.css';
@import '../modules/blocks/slider/__buttons/slider__buttons.css';
@import '../modules/blocks/slider/__button-prev/slider__button-prev.css';
@import '../modules/blocks/slider/__button-next/slider__button-next.css';
@import '../modules/blocks/slider/__button-prev/_them/slider__button-prev_them_dark.css';
@import '../modules/blocks/slider/__button-next/_them/slider__button-next_them_dark.css';
@import '../modules/blocks/slider/slider.css';
@import '../modules/blocks/slider/__wrapper/slider__wrapper.css';
@import '../modules/blocks/slider/__slide/slider__slide.css';
@import '../modules/blocks/slider/__slide/_type/slider__slide_type_active.css';
@import '../modules/blocks/slider/__item/slider__item.css';
@import '../modules/blocks/bycicles/bycicles.css';
@import '../modules/blocks/bycicles/__navigation/bycicles__navigaation.css';
@import '../modules/blocks/bycicles/__title/bycicles__title.css';
@import '../modules/blocks/bycicles/__buttons/bycicles__buttons.css';
@import '../modules/blocks/bycicles/__select/bycicles__select.css';
@import '../modules/blocks/cards-container/cards-container.css';
@import '../modules/blocks/slider-cards-container/slider-cards-container.css';
@import '../modules/blocks/slider-cards/slider-cards.css';
@import '../modules/blocks/slider-cards/__wrapper/slider-cards__wrapper.css';
@import '../modules/blocks/slider-cards/__pagination/slider-cards__pagination.css';
@import '../modules/blocks/slider-cards/__pagination-bullet/slider-cards__pagination-bullet.css';
@import '../modules/blocks/slider-cards/__pagination-bullet/_type/slider-cards__pagination_type_active.css';
@import '../modules/blocks/slider-cards/__slide/slider-cards__slide.css';
@import '../modules/blocks/slider-cards/__slide/_them/slider-cards__slide_them_dark.css';
@import '../modules/blocks/slider-cards/__image/slider-cards__image.css';
@import '../modules/blocks/service/service.css';
@import '../modules/blocks/service/__title/service__title.css';
@import '../modules/blocks/service/__content/service__content.css';
@import '../modules/blocks/service/__links/service__links.css';
@import '../modules/blocks/service/__strava-link/service__strava-link.css';
@import '../modules/blocks/service/__strava-link/_them/service__strava-link_them_dark.css';
@import '../modules/blocks/service/__komoot-link/service__komoot-link.css';
@import '../modules/blocks/service/__komoot-link/_them/service__komoot-link_them_dark.css';
@import '../modules/blocks/service/__picture/service__picture.css';
@import '../modules/blocks/footer/footer.css';
@import '../modules/blocks/footer/_them/footer_them_dark.css';
@import '../modules/blocks/footer/__title/footer__title.css';
@import '../modules/blocks/footer/__title/_them/footer__title_them_dark.css';
@import '../modules/blocks/form/form.css';
@import '../modules/blocks/form/__input-email/form__input-email.css';
@import '../modules/blocks/form/__input-email/_them/form__input-email_them_dark.css';
@import '../modules/blocks/form/__button/form__button.css';
@import '../modules/blocks/form/__button/_them/form__button_them_dark.css';
@import '../modules/blocks/footer/__copyright/footer__copyright.css';
@import '../modules/blocks/footer/__copyright/_them/footer__copyright_them_dark.css';
@import '../modules/blocks/switch/switch.css';
@import '../modules/blocks/switch/__off-pic/switch__off-pic.css';
@import '../modules/blocks/switch/__off/switch__off.css';
@import '../modules/blocks/switch/__on/switch__on.css';
@import '../modules/blocks/switch/__on-pic/switch__on-pic.css';
@import '../modules/blocks/switch/__off-pic/_type/switch__off-pic_type_active.css';
@import '../modules/blocks/switch/__on-pic/_type/switch__on-pic_type_active.css';
@import '../modules/blocks/footer/__flex/footer__flex.css';
@import '../modules/blocks/footer/__logo/footer__logo.css';
.page {
  background-color: #F4F4F4;
  max-width: 1440px;
  margin: 0 auto;
}

.page_them_dark {
  background-color: #333333;
}

.header__link {
  font: 500 14px/18px "Inter", Helvetica, Arial, sans-serif;
  color: #151515;
  padding-right: 34px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-decoration: none;
  transition: opacity 0.5s linear;
  display: block;
}

.header__link:last-child {
  padding-right: 120px;
}

.header__link:hover {
  opacity: 75%;
}

.header__link_them_dark {
  color: #fff;
}

.header__link_them_dark:hover {
  opacity: 65%;
}

.title-of-section {
  font: 700 55px/60px "Inter", Helvetica, Arial, sans-serif;
  color: #151515;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .title-of-section {
    font-size: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .title-of-section {
    font-size: 36px;
    line-height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .title-of-section {
    font-size: 32px;
    line-height: 40px;
  }
}
.title-of-section_them_dark {
  color: #fff;
}

.text-content {
  font: 500 18px/28px "Inter", Helvetica, Arial, sans-serif;
  color: #222222;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .text-content {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 1192px) {
  .text-content {
    font-size: 12px;
    line-height: 22px;
  }
}
@media screen and (max-width: 767px) {
  .text-content {
    line-height: 18px;
  }
}
.text-content_them_dark {
  color: #e5e5e5;
}

.bycicles__select_them_dark {
  background: url(../../../../../../images/vector-select-dark.svg) no-repeat;
  background-position: center right;
  color: #fff;
}

.bycicles__road {
  font: 600 18px/28px "Inter", Helvetica, Arial, sans-serif;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #222222;
  opacity: 70%;
}

.bycicles__road:hover {
  opacity: 100%;
}

.bycicles__road_them_dark {
  color: #e5e5e5;
}

.bycicles__gravel {
  font: 600 18px/28px "Inter", Helvetica, Arial, sans-serif;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #222222;
  opacity: 70%;
}

.bycicles__gravel:hover {
  opacity: 100%;
}

.bycicles__gravel_them_dark {
  color: #e5e5e5;
}

.bycicles__tt {
  font: 600 18px/28px "Inter", Helvetica, Arial, sans-serif;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #222222;
  opacity: 70%;
}

.bycicles__tt:hover {
  opacity: 100%;
}

.bycicles__tt_them_dark {
  color: #e5e5e5;
}

.slider-cards__title {
  font: 600 18px/22px "Inter", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #151515;
  text-align: left;
  padding-top: 22px;
}

@media screen and (max-width: 1023px) {
  .slider-cards__title {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 767px) {
  .slider-cards__title {
    padding-bottom: 18px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.slider-cards__title_them_dark {
  color: #fff;
}/*# sourceMappingURL=index.css.map */