.footer {
  padding: 80px 120px 60px;
  background-color: #efefef;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 25px;
  }
}