.bycicles__navigaation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 160px;
}

@media screen and (max-width: 1279px) {
  .bycicles__navigaation {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .bycicles__navigaation {
    padding-bottom: 40px;
  }
}